@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'MinecraftPE';
    src: url('./assets/fonts/MINECRAFT PE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
/* src/index.css or global stylesheet */
@font-face {
  font-family: 'unblessed';
  src: url('./assets/fonts/unblessed-unblessed-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  fonr-family: 'dirty brush';
  src: url('./assets/fonts/DirtyBrush.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
