@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'MinecraftPE';
    src: url('./assets/fonts/MINECRAFT PE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
/* src/index.css or global stylesheet */
@font-face {
  font-family: 'unblessed';
  src: url('./assets/fonts/unblessed-unblessed-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'DirtyBrush';
  src: url('./assets/fonts/DirtyBrush.ttf') format('truetype'); /* Adjust path as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GoodBrush';
  src: url('./assets/fonts/Good Brush.ttf') format('truetype'); /* Adjust path as necessary */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WhiteOnBlack';
  src: url('./assets/fonts/WhiteOnBlack.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'RomanSD';
  src: url('./assets/fonts/Roman SD.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}



/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

